[MASTER]
disable=C0114,  # missing-module-docstring
        C0115,  # missing class docstring (missing-class-docstring)
        E0611,  # :no-name-in-module)
        C0116,  # missing function or method docstring (missing-function-docstring)
        R1716,  # Simplify chained comparison between the operands (chained-comparison)
        E0401,  # Unable to import 
        C0325,  # Unnecessary parens after 'if' keyword (superfluous-parens)
        W0622,  # builtin methods used as parameters
        W0703,  # : Catching too general exception
        E1121,  # :too-many-function-args)
        C0103,  # invalid-name
        E0402,  # relative-beyond-top-level
good-names = db, id, QTDE,  msg

[FORMAT]
max-line-length=240